	<!DOCTYPE html>
    <html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="colorlib">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Medical</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
    CSS
    ============================================= -->
        <link rel="stylesheet" href="css/linearicons.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/nice-select.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header id="header">
            <div class="header-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6 col-4 header-top-left">
                            <a href="tel:+9530123654896"><span class="lnr lnr-phone-handset"></span> <span class="text"><span class="text">+953 012 3654 896</span></span></a>
                            <a href="mailto:support@colorlib.com"><span class="lnr lnr-envelope"></span> <span class="text"><span class="text">support@colorlib.com</span></span></a>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-8 header-top-right">
                            <a href="http://localhost:3000/goTomyAccount" class="primary-btn text-uppercase">my account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="index.html">Home</a></li>
			          <li><a href="http://localhost:3000/goToblogsingle">Nutritional values</a></li>
			          <li><a href="http://localhost:3000/goTotable">Table</a></li>
			          <li><a href="Nutritionists.html">Nutritionists</a></li>
			          <li><a href="Healthy-recipes.html">Healthy recipes</a></li>
			          <li class="menu-has-children"><a href="">Graphs</a>
			            <ul>
			              <li><a href="http://localhost:3000/goTopai">Pai graph</a></li>
			              <li><a href="http://localhost:3000/goToline">Line graph</a></li>
			            </ul>
			          </li>	
			          <li class="menu-has-children"><a href="calculator.html">BMI calculator</a>
			           
			          </li>					          					          		          
			          <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </header><!-- #header -->
        <!-- start banner Area -->
        <section class="banner-area relative about-banner" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            table
                        </h1>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->
        <!-- Start table Area -->



        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        </head>
        <body>

            <form>

                <p></p>

            </form>
            <h4 style="background-color:powderblue">choose a date:</h4> <input id="datepicker1" name="dop" class="dates form-control" placeholder="Date of Birth" type="date">





            <p></p>
            <h2 style="background-color:lawngreen">SUNDAY</h2>

            <table>
                <tr>
                    <th>MEAL</th>
                    <th>PROTEINS</th>
                    <th>FATS</th>
                    <th>SARBOHYDRATES</th>
                </tr>
                <tr>
                    <th style="background-color:powderblue">brekfast </th>
                    <td style="background-color:powderblue">*</td>
                    <td style="background-color:powderblue">*</td>
                    <td style="background-color:powderblue">*</td>

                </tr>
                <tr>

                    <td action="/action_page.php" method="get">

                        <select id="mySelect" onchange="myFunction(this.value)">
                            <option value="0" selected>choose</option>
                            <option value="1">Meat </option>
                            <option value="2">Fish </option>
                            <option value="3">Vegetable</option>
                            <option value="4">Carbohydrate</option>
                            <option value="5">Proteins(cheeses and eggs)</option>

                        </select>
                    </td>







                    <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myText" /></td>
                    <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2" /></td>
                    <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1" /></td>
                </tr>






                <script>

                    function myFunction(v) {
                        if (v == 1) {
                            document.getElementById("myText").value = "14.35";
                            document.getElementById("myText2").value = "30";
                            document.getElementById("myText1").value = "332";

                        }
                        else if (v == 2) {
                            document.getElementById("myText").value = "18.8";
                            document.getElementById("myText2").value = "18.8";
                            document.getElementById("myText1").value = "212";
                        }
                        else if (v == 3) {
                            document.getElementById("myText").value = "1.2";
                            document.getElementById("myText2").value = "0";
                            document.getElementById("myText1").value = "7.5";
                        }
                        else if (v == 4) {
                            document.getElementById("myText").value = "9";
                            document.getElementById("myText2").value = "5";
                            document.getElementById("myText1").value = "169";
                        }
                        else if (v == 5) {
                            document.getElementById("myText").value = "6.5";
                            document.getElementById("myText2").value = "11.4";
                            document.getElementById("myText1").value = "500";
                        }
                        else if (v == 0) {
                            document.getElementById("myText").value = "Proteins";
                            document.getElementById("myText2").value = "Fats";
                            document.getElementById("myText1").value = "Carbohydrates";
                        }
                    }
                </script>







                <tr>
                    <th style="background-color:powderblue">lunch</th>
                    <td style="background-color:powderblue">*</td>
                    <td style="background-color:powderblue">*</td>
                    <td style="background-color:powderblue">*</td>

                </tr>
                <tr>
                    <td style="background-color:white" action="/action_page.php" method="get">

                        <select style="background-color:white" id="mySelect" onchange="myFunction1(this.value)">
                            <option value="0" selected>choose</option>
                            <option value="1">Meat </option>
                            <option value="2">Fish </option>
                            <option value="3">Vegetable</option>
                            <option value="4">Carbohydrate</option>
                            <option value="5">Proteins(cheeses and eggs)</option>

                        </select>
                    </td>

                    <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextlun" /></td>
                    <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2" /></td>
                    <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1" /></td>
                </tr>



                <script>

                    function myFunction1(v) {
                        if (v == 1) {
                            document.getElementById("myTextlun").value = "14.35";
                            document.getElementById("myTextlun2").value = "30";
                            document.getElementById("myTextlun1").value = "332";

                        }
                        else if (v == 2) {
                            document.getElementById("myTextlun").value = "18.8";
                            document.getElementById("myTextlun2").value = "18.8";
                            document.getElementById("myTextlun1").value = "212";
                        }
                        else if (v == 3) {
                            document.getElementById("myTextlun").value = "1.2";
                            document.getElementById("myTextlun2").value = "0";
                            document.getElementById("myTextlun1").value = "7.5";
                        }
                        else if (v == 4) {
                            document.getElementById("myTextlun").value = "9";
                            document.getElementById("myTextlun2").value = "5";
                            document.getElementById("myTextlun1").value = "169";
                        }
                        else if (v == 5) {
                            document.getElementById("myTextlun").value = "6.5";
                            document.getElementById("myTextlun2").value = "11.4";
                            document.getElementById("myTextlun1").value = "500";
                        }
                        else if (v == 0) {
                            document.getElementById("myTextlun").value = "Proteins";
                            document.getElementById("myTextlun2").value = "Fats";
                            document.getElementById("myTextlun1").value = "Carbohydrates";
                        }
                    }
                </script>




                <tr>

                    <th style="background-color:powderblue">dinner</th>
                    <td style="background-color:powderblue">*</td>
                    <td style="background-color:powderblue">*</td>
                    <td style="background-color:powderblue">*</td>
                </tr>
                <tr>
                    <td action="/action_page.php" method="get">

                        <select id="mySelect" onchange="myFunction2(this.value)">
                            <option value="0" selected>choose</option>
                            <option value="1">Meat </option>
                            <option value="2">Fish </option>
                            <option value="3">Vegetable</option>
                            <option value="4">Carbohydrate</option>
                            <option value="5">Proteins(cheeses and eggs)</option>

                        </select>
                    </td>
                    <td><input type="text" value=Proteins name="srcURI" id="myTextdin" /></td>
                    <td><input type="text" value=Fats name="srcURI" id="myTextdin2" /></td>
                    <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1" /></td>
                </tr>

                <script>

                    function myFunction2(v) {
                        if (v == 1) {
                            document.getElementById("myTextdin").value = "14.35";
                            document.getElementById("myTextdin2").value = "30";
                            document.getElementById("myTextdin1").value = "332";

                        }
                        else if (v == 2) {
                            document.getElementById("myTextdin").value = "18.8";
                            document.getElementById("myTextdin2").value = "18.8";
                            document.getElementById("myTextdin1").value = "212";
                        }
                        else if (v == 3) {
                            document.getElementById("myTextdin").value = "1.2";
                            document.getElementById("myTextdin2").value = "0";
                            document.getElementById("myTextdin1").value = "7.5";
                        }
                        else if (v == 4) {
                            document.getElementById("myTextdin").value = "9";
                            document.getElementById("myTextdin2").value = "5";
                            document.getElementById("myTextdin1").value = "169";
                        }
                        else if (v == 5) {
                            document.getElementById("myTextdin").value = "6.5";
                            document.getElementById("myTextdin2").value = "11.4";
                            document.getElementById("myTextdin1").value = "500";
                        }
                        else if (v == 0) {
                            document.getElementById("myTextdin").value = "Proteins";
                            document.getElementById("myTextdin2").value = "Fats";
                            document.getElementById("myTextdin1").value = "Carbohydrates";
                        }
                    }
                </script>



            </table>

        </body>



        <p></p>
        <h2 style="background-color:lawngreen">MONDAY</h2>

        <table>
            <tr>
                <th>MEAL</th>
                <th>PROTEINS</th>
                <th>FATS</th>
                <th>SARBOHYDRATES</th>
            </tr>
            <tr>
                <th style="background-color:powderblue">brekfast </th>
                <td style="background-color:powderblue">*</td>
                <td style="background-color:powderblue">*</td>
                <td style="background-color:powderblue">*</td>

            </tr>
            <tr>

                <td action="/action_page.php" method="get">

                    <select id="mySelect" onchange="myFunctionmon(this.value)">
                        <option value="0" selected>choose</option>
                        <option value="1">Meat </option>
                        <option value="2">Fish </option>
                        <option value="3">Vegetable</option>
                        <option value="4">Carbohydrate</option>
                        <option value="5">Proteins(cheeses and eggs)</option>

                    </select>
                </td>







                <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextmon" /></td>
                <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2mon" /></td>
                <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1mon" /></td>
            </tr>






            <script>

                function myFunctionmon(v) {
                    if (v == 1) {
                        document.getElementById("myTextmon").value = "14.35";
                        document.getElementById("myText2mon").value = "30";
                        document.getElementById("myText1mon").value = "332";

                    }
                    else if (v == 2) {
                        document.getElementById("myTextmon").value = "18.8";
                        document.getElementById("myText2mon").value = "18.8";
                        document.getElementById("myText1mon").value = "212";
                    }
                    else if (v == 3) {
                        document.getElementById("myTextmon").value = "1.2";
                        document.getElementById("myText2mon").value = "0";
                        document.getElementById("myText1mon").value = "7.5";
                    }
                    else if (v == 4) {
                        document.getElementById("myTextmon").value = "9";
                        document.getElementById("myText2mon").value = "5";
                        document.getElementById("myText1mon").value = "169";
                    }
                    else if (v == 5) {
                        document.getElementById("myTextmon").value = "6.5";
                        document.getElementById("myText2mon").value = "11.4";
                        document.getElementById("myText1mon").value = "500";
                    }
                    else if (v == 0) {
                        document.getElementById("myTextmon").value = "Proteins";
                        document.getElementById("myText2mon").value = "Fats";
                        document.getElementById("myText1mon").value = "Carbohydrates";
                    }
                }
            </script>







            <tr>
                <th style="background-color:powderblue">lunch</th>
                <td style="background-color:powderblue">*</td>
                <td style="background-color:powderblue">*</td>
                <td style="background-color:powderblue">*</td>

            </tr>
            <tr>
                <td style="background-color:white" action="/action_page.php" method="get">

                    <select style="background-color:white" id="mySelect" onchange="myFunction1mon(this.value)">
                        <option value="0" selected>choose</option>
                        <option value="1">Meat </option>
                        <option value="2">Fish </option>
                        <option value="3">Vegetable</option>
                        <option value="4">Carbohydrate</option>
                        <option value="5">Proteins(cheeses and eggs)</option>

                    </select>
                </td>

                <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextlunmon" /></td>
                <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2mon" /></td>
                <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1mon" /></td>
            </tr>



            <script>

                function myFunction1mon(v) {
                    if (v == 1) {
                        document.getElementById("myTextlunmon").value = "14.35";
                        document.getElementById("myTextlun2mon").value = "30";
                        document.getElementById("myTextlun1mon").value = "332";

                    }
                    else if (v == 2) {
                        document.getElementById("myTextlunmon").value = "18.8";
                        document.getElementById("myTextlun2mon").value = "18.8";
                        document.getElementById("myTextlun1mon").value = "212";
                    }
                    else if (v == 3) {
                        document.getElementById("myTextlunmon").value = "1.2";
                        document.getElementById("myTextlun2mon").value = "0";
                        document.getElementById("myTextlun1mon").value = "7.5";
                    }
                    else if (v == 4) {
                        document.getElementById("myTextlunmon").value = "9";
                        document.getElementById("myTextlun2mon").value = "5";
                        document.getElementById("myTextlun1mon").value = "169";
                    }
                    else if (v == 5) {
                        document.getElementById("myTextlunmon").value = "6.5";
                        document.getElementById("myTextlun2mon").value = "11.4";
                        document.getElementById("myTextlun1mon").value = "500";
                    }
                    else if (v == 0) {
                        document.getElementById("myTextlunmon").value = "Proteins";
                        document.getElementById("myTextlun2mon").value = "Fats";
                        document.getElementById("myTextlun1mon").value = "Carbohydrates";
                    }
                }
            </script>




            <tr>

                <th style="background-color:powderblue">dinner</th>
                <td style="background-color:powderblue">*</td>
                <td style="background-color:powderblue">*</td>
                <td style="background-color:powderblue">*</td>
            </tr>
            <tr>
                <td action="/action_page.php" method="get">

                    <select id="mySelect" onchange="myFunction2mon(this.value)">
                        <option value="0" selected>choose</option>
                        <option value="1">Meat </option>
                        <option value="2">Fish </option>
                        <option value="3">Vegetable</option>
                        <option value="4">Carbohydrate</option>
                        <option value="5">Proteins(cheeses and eggs)</option>

                    </select>
                </td>
                <td><input type="text" value=Proteins name="srcURI" id="myTextdinmon" /></td>
                <td><input type="text" value=Fats name="srcURI" id="myTextdin2mon" /></td>
                <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1mon" /></td>
            </tr>

            <script>

                function myFunction2mon(v) {
                    if (v == 1) {
                        document.getElementById("myTextdinmon").value = "14.35";
                        document.getElementById("myTextdin2mon").value = "30";
                        document.getElementById("myTextdin1mon").value = "332";

                    }
                    else if (v == 2) {
                        document.getElementById("myTextdinmon").value = "18.8";
                        document.getElementById("myTextdin2mon").value = "18.8";
                        document.getElementById("myTextdin1mon").value = "212";
                    }
                    else if (v == 3) {
                        document.getElementById("myTextdinmon").value = "1.2";
                        document.getElementById("myTextdin2mon").value = "0";
                        document.getElementById("myTextdin1mon").value = "7.5";
                    }
                    else if (v == 4) {
                        document.getElementById("myTextdinmon").value = "9";
                        document.getElementById("myTextdin2mon").value = "5";
                        document.getElementById("myTextdin1mon").value = "169";
                    }
                    else if (v == 5) {
                        document.getElementById("myTextdinmon").value = "6.5";
                        document.getElementById("myTextdin2mon").value = "11.4";
                        document.getElementById("myTextdin1mon").value = "500";
                    }
                    else if (v == 0) {
                        document.getElementById("myTextdinmon").value = "Proteins";
                        document.getElementById("myTextdin2mon").value = "Fats";
                        document.getElementById("myTextdin1mon").value = "Carbohydrates";
                    }
                }
            </script>



        </table>

    </body>








    <p></p>

    <h2 style="background-color:lawngreen">TUESDAY</h2>

    <table>
        <tr>
            <th>MEAL</th>
            <th>PROTEINS</th>
            <th>FATS</th>
            <th>SARBOHYDRATES</th>
        </tr>
        <tr>
            <th style="background-color:powderblue">brekfast </th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>

            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunctiontue(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>







            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTexttue" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2tue" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1tue" /></td>
        </tr>






        <script>

            function myFunctiontue(v) {
                if (v == 1) {
                    document.getElementById("myTexttue").value = "14.35";
                    document.getElementById("myText2tue").value = "30";
                    document.getElementById("myText1tue").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTexttue").value = "18.8";
                    document.getElementById("myText2tue").value = "18.8";
                    document.getElementById("myText1tue").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTexttue").value = "1.2";
                    document.getElementById("myText2tue").value = "0";
                    document.getElementById("myText1tue").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTexttue").value = "9";
                    document.getElementById("myText2tue").value = "5";
                    document.getElementById("myText1tue").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTexttue").value = "6.5";
                    document.getElementById("myText2tue").value = "11.4";
                    document.getElementById("myText1tue").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTexttue").value = "Proteins";
                    document.getElementById("myText2tue").value = "Fats";
                    document.getElementById("myText1tue").value = "Carbohydrates";
                }
            }
        </script>







        <tr>
            <th style="background-color:powderblue">lunch</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>
            <td style="background-color:white" action="/action_page.php" method="get">

                <select style="background-color:white" id="mySelect" onchange="myFunction1tue(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>

            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextluntue" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2tue" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1tue" /></td>
        </tr>



        <script>

            function myFunction1tue(v) {
                if (v == 1) {
                    document.getElementById("myTextluntue").value = "14.35";
                    document.getElementById("myTextlun2tue").value = "30";
                    document.getElementById("myTextlun1tue").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextluntue").value = "18.8";
                    document.getElementById("myTextlun2tue").value = "18.8";
                    document.getElementById("myTextlun1tue").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextluntue").value = "1.2";
                    document.getElementById("myTextlun2tue").value = "0";
                    document.getElementById("myTextlun1tue").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextluntue").value = "9";
                    document.getElementById("myTextlun2tue").value = "5";
                    document.getElementById("myTextlun1tue").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextluntue").value = "6.5";
                    document.getElementById("myTextlun2tue").value = "11.4";
                    document.getElementById("myTextlun1tue").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextluntue").value = "Proteins";
                    document.getElementById("myTextlun2tue").value = "Fats";
                    document.getElementById("myTextlun1tue").value = "Carbohydrates";
                }
            }
        </script>




        <tr>

            <th style="background-color:powderblue">dinner</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
        </tr>
        <tr>
            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunction2tue(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>
            <td><input type="text" value=Proteins name="srcURI" id="myTextdintue" /></td>
            <td><input type="text" value=Fats name="srcURI" id="myTextdin2tue" /></td>
            <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1tue" /></td>
        </tr>

        <script>

            function myFunction2tue(v) {
                if (v == 1) {
                    document.getElementById("myTextdintue").value = "14.35";
                    document.getElementById("myTextdin2tue").value = "30";
                    document.getElementById("myTextdin1tue").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextdintue").value = "18.8";
                    document.getElementById("myTextdin2tue").value = "18.8";
                    document.getElementById("myTextdin1tue").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextdintue").value = "1.2";
                    document.getElementById("myTextdin2tue").value = "0";
                    document.getElementById("myTextdin1tue").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextdintue").value = "9";
                    document.getElementById("myTextdin2tue").value = "5";
                    document.getElementById("myTextdin1tue").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextdintue").value = "6.5";
                    document.getElementById("myTextdin2tue").value = "11.4";
                    document.getElementById("myTextdin1tue").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextdintue").value = "Proteins";
                    document.getElementById("myTextdin2tue").value = "Fats";
                    document.getElementById("myTextdin1tue").value = "Carbohydrates";
                }
            }
        </script>



    </table>



    <p></p>

    <h2 style="background-color:lawngreen">WEDNESDAY</h2>

    <table>
        <tr>
            <th>MEAL</th>
            <th>PROTEINS</th>
            <th>FATS</th>
            <th>SARBOHYDRATES</th>
        </tr>
        <tr>
            <th style="background-color:powderblue">brekfast </th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>

            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunctionwed(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>







            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextwed" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2wed" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1wed" /></td>
        </tr>






        <script>

            function myFunctionwed(v) {
                if (v == 1) {
                    document.getElementById("myTextwed").value = "14.35";
                    document.getElementById("myText2wed").value = "30";
                    document.getElementById("myText1wed").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextwed").value = "18.8";
                    document.getElementById("myText2wed").value = "18.8";
                    document.getElementById("myText1wed").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextwed").value = "1.2";
                    document.getElementById("myText2wed").value = "0";
                    document.getElementById("myText1wed").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextwed").value = "9";
                    document.getElementById("myText2wed").value = "5";
                    document.getElementById("myText1wed").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextwed").value = "6.5";
                    document.getElementById("myText2wed").value = "11.4";
                    document.getElementById("myText1wed").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextwed").value = "Proteins";
                    document.getElementById("myText2wed").value = "Fats";
                    document.getElementById("myText1wed").value = "Carbohydrates";
                }
            }
        </script>







        <tr>
            <th style="background-color:powderblue">lunch</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>
            <td style="background-color:white" action="/action_page.php" method="get">

                <select style="background-color:white" id="mySelect" onchange="myFunction1wed(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>

            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextlunwed" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2wed" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1wed" /></td>
        </tr>



        <script>

            function myFunction1wed(v) {
                if (v == 1) {
                    document.getElementById("myTextlunwed").value = "14.35";
                    document.getElementById("myTextlun2wed").value = "30";
                    document.getElementById("myTextlun1wed").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextlunwed").value = "18.8";
                    document.getElementById("myTextlun2wed").value = "18.8";
                    document.getElementById("myTextlun1wed").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextlunwed").value = "1.2";
                    document.getElementById("myTextlun2wed").value = "0";
                    document.getElementById("myTextlun1wed").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextlunwed").value = "9";
                    document.getElementById("myTextlun2wed").value = "5";
                    document.getElementById("myTextlun1wed").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextlunwed").value = "6.5";
                    document.getElementById("myTextlun2wed").value = "11.4";
                    document.getElementById("myTextlun1wed").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextlunwed").value = "Proteins";
                    document.getElementById("myTextlun2wed").value = "Fats";
                    document.getElementById("myTextlun1wed").value = "Carbohydrates";
                }
            }
        </script>




        <tr>

            <th style="background-color:powderblue">dinner</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
        </tr>
        <tr>
            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunction2wed(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>
            <td><input type="text" value=Proteins name="srcURI" id="myTextdinwed" /></td>
            <td><input type="text" value=Fats name="srcURI" id="myTextdin2wed" /></td>
            <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1wed" /></td>
        </tr>

        <script>

            function myFunction2wed(v) {
                if (v == 1) {
                    document.getElementById("myTextdinwed").value = "14.35";
                    document.getElementById("myTextdin2wed").value = "30";
                    document.getElementById("myTextdin1wed").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextdinwed").value = "18.8";
                    document.getElementById("myTextdin2wed").value = "18.8";
                    document.getElementById("myTextdin1wed").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextdinwed").value = "1.2";
                    document.getElementById("myTextdin2wed").value = "0";
                    document.getElementById("myTextdin1wed").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextdinwed").value = "9";
                    document.getElementById("myTextdin2wed").value = "5";
                    document.getElementById("myTextdin1wed").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextdinwed").value = "6.5";
                    document.getElementById("myTextdin2wed").value = "11.4";
                    document.getElementById("myTextdin1wed").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextdinwed").value = "Proteins";
                    document.getElementById("myTextdin2wed").value = "Fats";
                    document.getElementById("myTextdin1wed").value = "Carbohydrates";
                }
            }
        </script>



    </table>








    <p></p>
    <h2 style="background-color:lawngreen">THURSDAY</h2>

    <table>
        <tr>
            <th>MEAL</th>
            <th>PROTEINS</th>
            <th>FATS</th>
            <th>SARBOHYDRATES</th>
        </tr>
        <tr>
            <th style="background-color:powderblue">brekfast </th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>

            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunctionthr(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>







            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextthr" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2thr" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1thr" /></td>
        </tr>






        <script>

            function myFunctionthr(v) {
                if (v == 1) {
                    document.getElementById("myTextthr").value = "14.35";
                    document.getElementById("myText2thr").value = "30";
                    document.getElementById("myText1thr").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextthr").value = "18.8";
                    document.getElementById("myText2thr").value = "18.8";
                    document.getElementById("myText1thr").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextthr").value = "1.2";
                    document.getElementById("myText2thr").value = "0";
                    document.getElementById("myText1thr").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextthr").value = "9";
                    document.getElementById("myText2thr").value = "5";
                    document.getElementById("myText1thr").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextthr").value = "6.5";
                    document.getElementById("myText2thr").value = "11.4";
                    document.getElementById("myText1thr").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextthr").value = "Proteins";
                    document.getElementById("myText2thr").value = "Fats";
                    document.getElementById("myText1thr").value = "Carbohydrates";
                }
            }
        </script>







        <tr>
            <th style="background-color:powderblue">lunch</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>
            <td style="background-color:white" action="/action_page.php" method="get">

                <select style="background-color:white" id="mySelect" onchange="myFunction1thr(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>

            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextlunthr" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2thr" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1thr" /></td>
        </tr>



        <script>

            function myFunction1thr(v) {
                if (v == 1) {
                    document.getElementById("myTextlunthr").value = "14.35";
                    document.getElementById("myTextlun2thr").value = "30";
                    document.getElementById("myTextlun1thr").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextlunthr").value = "18.8";
                    document.getElementById("myTextlun2thr").value = "18.8";
                    document.getElementById("myTextlun1thr").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextlunthr").value = "1.2";
                    document.getElementById("myTextlun2thr").value = "0";
                    document.getElementById("myTextlun1thr").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextlunthr").value = "9";
                    document.getElementById("myTextlun2thr").value = "5";
                    document.getElementById("myTextlun1thr").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextlunthr").value = "6.5";
                    document.getElementById("myTextlun2thr").value = "11.4";
                    document.getElementById("myTextlun1thr").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextlunthr").value = "Proteins";
                    document.getElementById("myTextlun2thr").value = "Fats";
                    document.getElementById("myTextlun1thr").value = "Carbohydrates";
                }
            }
        </script>




        <tr>

            <th style="background-color:powderblue">dinner</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
        </tr>
        <tr>
            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunction2thr(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>
            <td><input type="text" value=Proteins name="srcURI" id="myTextdinthr" /></td>
            <td><input type="text" value=Fats name="srcURI" id="myTextdin2thr" /></td>
            <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1thr" /></td>
        </tr>

        <script>

            function myFunction2thr(v) {
                if (v == 1) {
                    document.getElementById("myTextdinthr").value = "14.35";
                    document.getElementById("myTextdin2thr").value = "30";
                    document.getElementById("myTextdin1thr").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextdinthr").value = "18.8";
                    document.getElementById("myTextdin2thr").value = "18.8";
                    document.getElementById("myTextdin1thr").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextdinthr").value = "1.2";
                    document.getElementById("myTextdin2thr").value = "0";
                    document.getElementById("myTextdin1thr").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextdinthr").value = "9";
                    document.getElementById("myTextdin2thr").value = "5";
                    document.getElementById("myTextdin1thr").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextdinthr").value = "6.5";
                    document.getElementById("myTextdin2thr").value = "11.4";
                    document.getElementById("myTextdin1thr").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextdinthr").value = "Proteins";
                    document.getElementById("myTextdin2thr").value = "Fats";
                    document.getElementById("myTextdin1thr").value = "Carbohydrates";
                }
            }
        </script>



    </table>


    <p></p>
    <h2 style="background-color:lawngreen">FRIDAY</h2>

    <table>
        <tr>
            <th>MEAL</th>
            <th>PROTEINS</th>
            <th>FATS</th>
            <th>SARBOHYDRATES</th>
        </tr>
        <tr>
            <th style="background-color:powderblue">brekfast </th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>

            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunctionfri(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>







            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextfri" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2fri" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1fri" /></td>
        </tr>






        <script>

            function myFunctionfri(v) {
                if (v == 1) {
                    document.getElementById("myTextfri").value = "14.35";
                    document.getElementById("myText2fri").value = "30";
                    document.getElementById("myText1fri").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextfri").value = "18.8";
                    document.getElementById("myText2fri").value = "18.8";
                    document.getElementById("myText1fri").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextfri").value = "1.2";
                    document.getElementById("myText2fri").value = "0";
                    document.getElementById("myText1fri").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextfri").value = "9";
                    document.getElementById("myText2fri").value = "5";
                    document.getElementById("myText1fri").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextfri").value = "6.5";
                    document.getElementById("myText2fri").value = "11.4";
                    document.getElementById("myText1fri").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextfri").value = "Proteins";
                    document.getElementById("myText2fri").value = "Fats";
                    document.getElementById("myText1fri").value = "Carbohydrates";
                }
            }
        </script>







        <tr>
            <th style="background-color:powderblue">lunch</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>
            <td style="background-color:white" action="/action_page.php" method="get">

                <select style="background-color:white" id="mySelect" onchange="myFunction1fri(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>

            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextlunfri" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2fri" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1fri" /></td>
        </tr>



        <script>

            function myFunction1fri(v) {
                if (v == 1) {
                    document.getElementById("myTextlunfri").value = "14.35";
                    document.getElementById("myTextlun2fri").value = "30";
                    document.getElementById("myTextlun1fri").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextlunfri").value = "18.8";
                    document.getElementById("myTextlun2fri").value = "18.8";
                    document.getElementById("myTextlun1fri").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextlunfri").value = "1.2";
                    document.getElementById("myTextlun2fri").value = "0";
                    document.getElementById("myTextlun1fri").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextlunfri").value = "9";
                    document.getElementById("myTextlun2fri").value = "5";
                    document.getElementById("myTextlun1fri").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextlunfri").value = "6.5";
                    document.getElementById("myTextlun2fri").value = "11.4";
                    document.getElementById("myTextlun1fri").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextlunfri").value = "Proteins";
                    document.getElementById("myTextlun2fri").value = "Fats";
                    document.getElementById("myTextlun1fri").value = "Carbohydrates";
                }
            }
        </script>




        <tr>

            <th style="background-color:powderblue">dinner</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
        </tr>
        <tr>
            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunction2fri(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>
            <td><input type="text" value=Proteins name="srcURI" id="myTextdinfri" /></td>
            <td><input type="text" value=Fats name="srcURI" id="myTextdin2fri" /></td>
            <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1fri" /></td>
        </tr>

        <script>

            function myFunction2fri(v) {
                if (v == 1) {
                    document.getElementById("myTextdinfri").value = "14.35";
                    document.getElementById("myTextdin2fri").value = "30";
                    document.getElementById("myTextdin1fri").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextdinfri").value = "18.8";
                    document.getElementById("myTextdin2fri").value = "18.8";
                    document.getElementById("myTextdin1fri").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextdinfri").value = "1.2";
                    document.getElementById("myTextdin2fri").value = "0";
                    document.getElementById("myTextdin1fri").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextdinfri").value = "9";
                    document.getElementById("myTextdin2fri").value = "5";
                    document.getElementById("myTextdin1fri").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextdinfri").value = "6.5";
                    document.getElementById("myTextdin2fri").value = "11.4";
                    document.getElementById("myTextdin1fri").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextdinfri").value = "Proteins";
                    document.getElementById("myTextdin2fri").value = "Fats";
                    document.getElementById("myTextdin1fri").value = "Carbohydrates";
                }
            }
        </script>



    </table>



    <p></p>
    <h2 style="background-color:lawngreen">SATURDAY</h2>

    <table>
        <tr>
            <th>MEAL</th>
            <th>PROTEINS</th>
            <th>FATS</th>
            <th>SARBOHYDRATES</th>
        </tr>
        <tr>
            <th style="background-color:powderblue">brekfast </th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>

            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunctionsat(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>







            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextsat" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myText2sat" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myText1sat" /></td>
        </tr>






        <script>

            function myFunctionsat(v) {
                if (v == 1) {
                    document.getElementById("myTextsat").value = "14.35";
                    document.getElementById("myText2sat").value = "30";
                    document.getElementById("myText1sat").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextsat").value = "18.8";
                    document.getElementById("myText2sat").value = "18.8";
                    document.getElementById("myText1sat").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextsat").value = "1.2";
                    document.getElementById("myText2sat").value = "0";
                    document.getElementById("myText1sat").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextsat").value = "9";
                    document.getElementById("myText2sat").value = "5";
                    document.getElementById("myText1sat").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextsat").value = "6.5";
                    document.getElementById("myText2sat").value = "11.4";
                    document.getElementById("myText1sat").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextsat").value = "Proteins";
                    document.getElementById("myText2sat").value = "Fats";
                    document.getElementById("myText1sat").value = "Carbohydrates";
                }
            }
        </script>







        <tr>
            <th style="background-color:powderblue">lunch</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>

        </tr>
        <tr>
            <td style="background-color:white" action="/action_page.php" method="get">

                <select style="background-color:white" id="mySelect" onchange="myFunction1sat(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>

            <td style="background-color:white"><input type="text" value=Proteins name="srcURI" id="myTextlunsat" /></td>
            <td style="background-color:white"><input type="text" value=Fats name="srcURI" id="myTextlun2sat" /></td>
            <td style="background-color:white"><input type="text" value=Carbohydrates name="srcURI" id="myTextlun1sat" /></td>
        </tr>



        <script>

            function myFunction1sat(v) {
                if (v == 1) {
                    document.getElementById("myTextlunsat").value = "14.35";
                    document.getElementById("myTextlun2sat").value = "30";
                    document.getElementById("myTextlun1sat").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextlunsat").value = "18.8";
                    document.getElementById("myTextlun2sat").value = "18.8";
                    document.getElementById("myTextlun1sat").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextlunsat").value = "1.2";
                    document.getElementById("myTextlun2sat").value = "0";
                    document.getElementById("myTextlun1sat").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextlunsat").value = "9";
                    document.getElementById("myTextlun2sat").value = "5";
                    document.getElementById("myTextlun1sat").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextlunsat").value = "6.5";
                    document.getElementById("myTextlun2sat").value = "11.4";
                    document.getElementById("myTextlun1sat").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextlunsat").value = "Proteins";
                    document.getElementById("myTextlun2sat").value = "Fats";
                    document.getElementById("myTextlun1sat").value = "Carbohydrates";
                }
            }
        </script>




        <tr>

            <th style="background-color:powderblue">dinner</th>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
            <td style="background-color:powderblue">*</td>
        </tr>
        <tr>
            <td action="/action_page.php" method="get">

                <select id="mySelect" onchange="myFunction2sat(this.value)">
                    <option value="0" selected>choose</option>
                    <option value="1">Meat </option>
                    <option value="2">Fish </option>
                    <option value="3">Vegetable</option>
                    <option value="4">Carbohydrate</option>
                    <option value="5">Proteins(cheeses and eggs)</option>

                </select>
            </td>
            <td><input type="text" value=Proteins name="srcURI" id="myTextdinsat" /></td>
            <td><input type="text" value=Fats name="srcURI" id="myTextdin2sat" /></td>
            <td><input type="text" value=Carbohydrates name="srcURI" id="myTextdin1sat" /></td>
        </tr>

        <script>

            function myFunction2sat(v) {
                if (v == 1) {
                    document.getElementById("myTextdinsat").value = "14.35";
                    document.getElementById("myTextdin2sat").value = "30";
                    document.getElementById("myTextdin1sat").value = "332";

                }
                else if (v == 2) {
                    document.getElementById("myTextdinsat").value = "18.8";
                    document.getElementById("myTextdin2sat").value = "18.8";
                    document.getElementById("myTextdin1sat").value = "212";
                }
                else if (v == 3) {
                    document.getElementById("myTextdinsat").value = "1.2";
                    document.getElementById("myTextdin2sat").value = "0";
                    document.getElementById("myTextdin1sat").value = "7.5";
                }
                else if (v == 4) {
                    document.getElementById("myTextdinsat").value = "9";
                    document.getElementById("myTextdin2sat").value = "5";
                    document.getElementById("myTextdin1sat").value = "169";
                }
                else if (v == 5) {
                    document.getElementById("myTextdinsat").value = "6.5";
                    document.getElementById("myTextdin2sat").value = "11.4";
                    document.getElementById("myTextdin1sat").value = "500";
                }
                else if (v == 0) {
                    document.getElementById("myTextdinsat").value = "Proteins";
                    document.getElementById("myTextdin2sat").value = "Fats";
                    document.getElementById("myTextdin1sat").value = "Carbohydrates";
                }
            }
        </script>



    </table>








    <!-- End table Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-6">
                    <div class="single-footer-widget">
                        <h6>Top Products</h6>
                        <ul class="footer-nav">
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#">Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Contact Us</h6>
                        <p>
                            56/8, Santa bullevard, Rocky beach, San fransisco, Los angeles, USA
                        </p>
                        <h3>012-6532-568-9746</h3>
                        <h3>012-6532-568-97468</h3>
                    </div>
                </div>
                <div class="col-lg-6  col-md-12">
                    <div class="single-footer-widget newsletter">
                        <h6>Newsletter</h6>
                        <p>You can trust us. we only send promo offers, not a single spam.</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <div class="form-group row" style="width: 100%">
                                    <div class="col-lg-8 col-md-12">
                                        <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                                    </div>

                                    <div class="col-lg-4 col-md-12">
                                        <button class="nw-btn primary-btn circle">Subscribe<span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.tabs.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
    </body>
    </html>